# reports
/_results_
/allure-report
/allure-results
#/errorShots
/junitReport

# dependencies
/node_modules

# files
/test/pageobjects/exlogin.page.js
/test/specs/exfeatures.spec.js

# screenshots
/screenshots