# reports
/_results_
/allure-report
/allure-results
/errorShots
/junitReport

# dependencies
/node_modules

# files
/test/pageobjects/umlogin.page.js
/test/specs/featuresUM.spec.js

# screenshots
/screenshots